@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-pocofy">
    <div class="container-pocofy">
        <div class="wrap-pocofy">
            <form method="Post" class="pocofy-form">
                <div class="wrap-image">
                    <img src="assets/images/urlvisev3.png"/>
                </div>
                
                <div class="wrap-label">
                    <h4 class="serviceDescription">Welcome to Pocofy!</h4>
                    <h5 class="serviceDescription">You can use our free service to minify your favourite urls'</h5>
                </div>
					
                <div class="wrap-label">
                    <span class="txt1">
                        Your URL
                    </span>
                </div>
                <div class="wrap-input validate-input" data-validate = "A URL is required">
                    <input class="input" asp-for="FormInput.LongUrl" type="text" value="@ViewData["RetrievalResult"]?.ToString()">
                    <span class="focus-input"></span>
                </div>
					
                <div class="wrap-label">
                    <span class="txt1">
                        Result
                    </span>

						
                </div>
                <div class="wrap-input">
                    <input class="input" asp-for="FormInput.ShortUrl" type="text" value="@ViewData["ShorteningResult"]?.ToString()">
                    <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard">
                        <!-- icon from google's material design library -->
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                    </button>
                    <span class="focus-input"></span>
                </div>
                
                <div class="container-pocofy-form-btn">
                    <button class="pocofy-form-btn" type="submit">Pocofy your Url!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Requires Bootstrap 3 for functionality
        $('.js-tooltip').tooltip();

        // Copy to clipboard
        $('.js-copy').click(function () {
            var text = $('#FormInput_ShortUrl').val();
            var el = $(this);
            copyToClipboard(text, el);
        });
    });
</script>

